$header-topbar-bg: #864343;
$header-bg: #723636;

$footer-claim-bg: #2a2a2a;
$footer-bg: #363636;

$primary: #d58e32;
$white: #fff;

$text-color: #2a2a2a;

$form-border-color: #292929;
$box-border-color: #e2e2e2;

$bg-color-animation-time: 0.25s;
$txt-color-animation-time: 0.25s;
$border-color-animation-time: 0.25s;
