<div class="section--promotions">
  <div class="container">
    <div class="wrapper row">
      <div class="col leftPromotion">
        <div class="promoText">
          <p>guest room</p>
          <p class="text">sofa</p>
          <p class="price">- 20%</p>
        </div>
        <img
          src="https://images.pexels.com/photos/276583/pexels-photo-276583.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
          alt="sofa"
        />
      </div>
      <div class="col rightPromotion">
        <div class="topPromo">
          <div class="rightPromoText">
            <p><span>office</span> chair</p>
            <p class="secondLine">collection</p>
            <p class="thirdLine">$200.00</p>
          </div>
          <img
            src="https://images.pexels.com/photos/1350789/pexels-photo-1350789.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
            alt="chairs"
          />
        </div>
        <div class="bottomPromo">
          <div class="rightPromoText2">
            <p><span>special</span> collection</p>
            <p class="secondLine2">save up 45% of furniture</p>
          </div>
          <img
            src="https://images.pexels.com/photos/2631746/pexels-photo-2631746.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"
            alt="bed"
          />
        </div>
      </div>
    </div>
  </div>
</div>
