<div class="section--products">
  <div class="container">
    <div class="panel-bar">
      <div class="row no-gutters align-items-end">
        <div class="col-auto heading"><h3>New furniture</h3></div>
        <div class="col menu">
          <ul>
            <li><a href="#" class="active">Bed</a></li>
            <li><a href="#">Chair</a></li>
            <li><a href="#">Sofa</a></li>
            <li><a href="#">Table</a></li>
            <li><a href="#">Dining</a></li>
          </ul>
        </div>
        <div class="col-auto dots">
          <ul>
            <li><a href="#" class="active"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="product-box">
          <div class="photo">
            <div class="sale">sale</div>
            <a href="#">
              <img
                src="https://cdn.pixabay.com/photo/2015/12/05/23/45/sofa-1078931_960_720.jpg"
                alt="Sofa nr 1"
              />
            </a>
            <div class="buttons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price"><div class="btn-main-small no-hover">$ 30.00</div></div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="product-box">
          <div class="photo">
            <div class="sale">sale</div>
            <a href="#">
              <img
                src="https://cdn.pixabay.com/photo/2015/03/12/14/16/living-room-670240_960_720.jpg"
                alt="Sofa nr 2"
              />
            </a>
            <div class="buttons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price"><div class="btn-main-small no-hover">$ 30.00</div></div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="product-box">
          <div class="photo">
            <div class="sale">sale</div>
            <a href="#">
              <img
                src="https://cdn.pixabay.com/photo/2017/08/02/01/01/living-room-2569325_960_720.jpg"
                alt="Sofa nr 3"
              />
            </a>
            <div class="buttons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price"><div class="btn-main-small no-hover">$ 30.00</div></div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="product-box">
          <div class="photo">
            <div class="sale">sale</div>
            <a href="#">
              <img
                src="https://cdn.pixabay.com/photo/2014/10/08/17/58/couch-480486_960_720.jpg"
                alt="Sofa nr 4"
              />
            </a>
            <div class="buttons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price"><div class="btn-main-small no-hover">$ 30.00</div></div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="product-box">
          <div class="photo">
            <div class="sale">sale</div>
            <a href="#">
              <img
                src="https://cdn.pixabay.com/photo/2015/05/28/21/12/mieze-788577_960_720.jpg"
                alt="Sofa nr 5"
              />
            </a>
            <div class="buttons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price"><div class="btn-main-small no-hover">$ 30.00</div></div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="product-box">
          <div class="photo">
            <div class="sale">sale</div>
            <a href="#">
              <img
                src="https://cdn.pixabay.com/photo/2018/08/16/00/37/bear-3609383_960_720.jpg"
                alt="Sofa nr 6"
              />
            </a>
            <div class="buttons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price"><div class="btn-main-small no-hover">$ 30.00</div></div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="product-box">
          <div class="photo">
            <div class="sale">sale</div>
            <a href="#">
              <img
                src="https://cdn.pixabay.com/photo/2017/08/06/15/44/house-2593570_960_720.jpg"
                alt="Sofa nr 7"
              />
            </a>
            <div class="buttons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price"><div class="btn-main-small no-hover">$ 30.00</div></div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="product-box">
          <div class="photo">
            <div class="sale">sale</div>
            <a href="#">
              <img
                src="https://cdn.pixabay.com/photo/2017/02/21/07/57/apartment-2084992_960_720.jpg"
                alt="Sofa nr 8"
              />
            </a>
            <div class="buttons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small"
                ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
              >
            </div>
          </div>
          <div class="content">
            <h5>Aenean Ru Bristique</h5>
            <div class="stars">
              <a href="#" class="full"></a> <a href="#" class="full"></a>
              <a href="#"></a> <a href="#"></a> <a href="#"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price"><div class="btn-main-small no-hover">$ 30.00</div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
