<div class="section--furniture-gallery">
  <div class="container">
    <div class="row">
      <div class="column-slider col-12 col-md-6">
        <div class="panel-bar">
          <div class="row no-gutters align-items-end">
            <div class="col-auto heading"><h3>Furniture gallery</h3></div>
            <div class="col"></div>
          </div>
        </div>
        <!-- <div class="w-100"></div> -->
        <div class="row product-category-names">
          <div class="product-category-name col-3">Featured</div>
          <div class="product-category-name col-3">Top seller</div>
          <div class="product-category-name col-3">Sale off</div>
          <div class="product-category-name col-3">Top rated</div>
        </div>
        <div class="furniture-gallery-slider">
          <div class="furniture-gallery-slide">
            <!-- <img src="images/blue_sofa.jpg"> -->
            <div class="furniture-gallery-slide-icons">
              <a href="#" class="btn-on-slider"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-on-slider"><i class="fas fa-exchange-alt"></i></a>
              <a href="#" class="btn-on-slider"><i class="far fa-eye"></i></a>
              <a href="#" class="btn-on-slider"
                ><i class="fas fa-shopping-basket"></i
              ></a>
            </div>
          </div>
          <!-- <div class="furniture-gallery-slide">
              <img src="images/grey_sofa.jpg">
          </div>
          <div class="furniture-gallery-slide">
            <img src="images/duck_sofa.jpg">
          </div>
          <div class="furniture-gallery-slide">
            <img src="images/red_sofa.jpg">
          </div>
          <div class="furniture-gallery-slide">
            <img src="images/duck_sofa.jpg">
          </div>
          <div class="furniture-gallery-slide">
            <img src="images/red_sofa.jpg">
          </div>
          <div class="furniture-gallery-slide">
            <img src="images/red_sofa.jpg">
          </div> -->
        </div>
        <div class="furniture-gallery-controls">
          <div class="control-arrow"></div>
          <div class="control-image"></div>
          <div class="control-image"></div>
          <div class="control-image"></div>
          <div class="control-image"></div>
          <div class="control-image"></div>
          <div class="control-image"></div>
          <div class="control-arrow"></div>
        </div>
      </div>
      <div class="column-foto col-12 col-md-6">
        <div class="furniture-gallery-image">
          <img src="images/living_room.jpg" alt="Book with cup of coffe" />
        </div>
      </div>
    </div>
  </div>
</div>
