<div class="section--furniture-gallery">
  <div class="container">
    <div class="row">
      <div class="column-slider col-12 col-md-6">
        <div class="panel-bar">
          <div class="row no-gutters align-items-end">
            <div class="col-auto heading"><h3>Furniture gallery</h3></div>
            <div class="col"></div>
          </div>
        </div>
        <div class="row product-category-names">
          <div class="product-category-name col-3">Featured</div>
          <div class="product-category-name col-3">Top seller</div>
          <div class="product-category-name col-3">Sale off</div>
          <div class="product-category-name col-3">Top rated</div>
        </div>
        <!-- SLIDER FEATURED -->
        <div class="furniture-gallery-slider" id="slider-featured">
          <div class="furniture-gallery-slide">
            <img src="images/blue_sofa.jpg" />
            <div class="furniture-gallery-slide-icons">
              <a href="#" class="btn-on-slider"><i class="far fa-heart"></i></a>
              <div class="furniture-gallery-tooltip-heart">Heart</div>
              <a href="#" class="btn-on-slider"><i class="fas fa-exchange-alt"></i></a>
              <div class="furniture-gallery-tooltip-exchange">Exchange</div>
              <a href="#" class="btn-on-slider"> <i class="far fa-eye"></i> </a>
              <div class="furniture-gallery-tooltip-eye">Eye</div>
              <a href="#" class="btn-on-slider"
                ><i class="fas fa-shopping-basket"></i
              ></a>
              <div class="furniture-gallery-tooltip-basket">Add To Cart</div>
            </div>
            <div class="furniture-gallery-slide-pricebox">
              <div class="price-circle"><span>$120.00</span> <span>$160.00</span></div>
              <div class="furniture-namebox">
                <div class="content">
                  <h5>Aenean Ru Bristique</h5>
                  <div class="stars">
                    <a href="#" class="full"></a> <a href="#" class="full"></a>
                    <a href="#"></a> <a href="#"></a> <a href="#"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="furniture-gallery-slide">
            <img src="images/bears.jpg" />
            <div class="furniture-gallery-slide-icons">
              <a href="#" class="btn-on-slider"><i class="far fa-heart"></i></a>
              <div class="furniture-gallery-tooltip-heart">Heart</div>
              <a href="#" class="btn-on-slider"><i class="fas fa-exchange-alt"></i></a>
              <div class="furniture-gallery-tooltip-exchange">Exchange</div>
              <a href="#" class="btn-on-slider"> <i class="far fa-eye"></i> </a>
              <div class="furniture-gallery-tooltip-eye">Eye</div>
              <a href="#" class="btn-on-slider"
                ><i class="fas fa-shopping-basket"></i
              ></a>
              <div class="furniture-gallery-tooltip-basket">Add To Cart</div>
            </div>
            <div class="furniture-gallery-slide-pricebox">
              <div class="price-circle"><span>$120.00</span> <span>$160.00</span></div>
              <div class="furniture-namebox">
                <div class="content">
                  <h5>Aenean Ru Bristique</h5>
                  <div class="stars">
                    <a href="#" class="full"></a> <a href="#" class="full"></a>
                    <a href="#"></a> <a href="#"></a> <a href="#"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="furniture-gallery-slide">
            <img src="images/beige_sofa.jpg" />
            <div class="furniture-gallery-slide-icons">
              <a href="#" class="btn-on-slider"><i class="far fa-heart"></i></a>
              <div class="furniture-gallery-tooltip-heart">Heart</div>
              <a href="#" class="btn-on-slider"><i class="fas fa-exchange-alt"></i></a>
              <div class="furniture-gallery-tooltip-exchange">Exchange</div>
              <a href="#" class="btn-on-slider"> <i class="far fa-eye"></i> </a>
              <div class="furniture-gallery-tooltip-eye">Eye</div>
              <a href="#" class="btn-on-slider"
                ><i class="fas fa-shopping-basket"></i
              ></a>
              <div class="furniture-gallery-tooltip-basket">Add To Cart</div>
            </div>
            <div class="furniture-gallery-slide-pricebox">
              <div class="price-circle"><span>$120.00</span> <span>$160.00</span></div>
              <div class="furniture-namebox">
                <div class="content">
                  <h5>Aenean Ru Bristique</h5>
                  <div class="stars">
                    <a href="#" class="full"></a> <a href="#" class="full"></a>
                    <a href="#"></a> <a href="#"></a> <a href="#"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="furniture-gallery-slide">
            <img src="images/duck_sofa.jpg" />
            <div class="furniture-gallery-slide-icons">
              <a href="#" class="btn-on-slider"><i class="far fa-heart"></i></a>
              <div class="furniture-gallery-tooltip-heart">Heart</div>
              <a href="#" class="btn-on-slider"><i class="fas fa-exchange-alt"></i></a>
              <div class="furniture-gallery-tooltip-exchange">Exchange</div>
              <a href="#" class="btn-on-slider"> <i class="far fa-eye"></i> </a>
              <div class="furniture-gallery-tooltip-eye">Eye</div>
              <a href="#" class="btn-on-slider"
                ><i class="fas fa-shopping-basket"></i
              ></a>
              <div class="furniture-gallery-tooltip-basket">Add To Cart</div>
            </div>
            <div class="furniture-gallery-slide-pricebox">
              <div class="price-circle"><span>$120.00</span> <span>$160.00</span></div>
              <div class="furniture-namebox">
                <div class="content">
                  <h5>Aenean Ru Bristique</h5>
                  <div class="stars">
                    <a href="#" class="full"></a> <a href="#" class="full"></a>
                    <a href="#"></a> <a href="#"></a> <a href="#"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="furniture-gallery-slide">
            <img src="images/grey_sofa.jpg" />
            <div class="furniture-gallery-slide-icons">
              <a href="#" class="btn-on-slider"><i class="far fa-heart"></i></a>
              <div class="furniture-gallery-tooltip-heart">Heart</div>
              <a href="#" class="btn-on-slider"><i class="fas fa-exchange-alt"></i></a>
              <div class="furniture-gallery-tooltip-exchange">Exchange</div>
              <a href="#" class="btn-on-slider"> <i class="far fa-eye"></i> </a>
              <div class="furniture-gallery-tooltip-eye">Eye</div>
              <a href="#" class="btn-on-slider"
                ><i class="fas fa-shopping-basket"></i
              ></a>
              <div class="furniture-gallery-tooltip-basket">Add To Cart</div>
            </div>
            <div class="furniture-gallery-slide-pricebox">
              <div class="price-circle"><span>$120.00</span> <span>$160.00</span></div>
              <div class="furniture-namebox">
                <div class="content">
                  <h5>Aenean Ru Bristique</h5>
                  <div class="stars">
                    <a href="#" class="full"></a> <a href="#" class="full"></a>
                    <a href="#"></a> <a href="#"></a> <a href="#"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="furniture-gallery-slide">
            <img src="images/red_sofa.jpg" />
            <div class="furniture-gallery-slide-icons">
              <a href="#" class="btn-on-slider"><i class="far fa-heart"></i></a>
              <div class="furniture-gallery-tooltip-heart">Heart</div>
              <a href="#" class="btn-on-slider"><i class="fas fa-exchange-alt"></i></a>
              <div class="furniture-gallery-tooltip-exchange">Exchange</div>
              <a href="#" class="btn-on-slider"> <i class="far fa-eye"></i> </a>
              <div class="furniture-gallery-tooltip-eye">Eye</div>
              <a href="#" class="btn-on-slider"
                ><i class="fas fa-shopping-basket"></i
              ></a>
              <div class="furniture-gallery-tooltip-basket">Add To Cart</div>
            </div>
            <div class="furniture-gallery-slide-pricebox">
              <div class="price-circle"><span>$120.00</span> <span>$160.00</span></div>
              <div class="furniture-namebox">
                <div class="content">
                  <h5>Aenean Ru Bristique</h5>
                  <div class="stars">
                    <a href="#" class="full"></a> <a href="#" class="full"></a>
                    <a href="#"></a> <a href="#"></a> <a href="#"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="furniture-gallery-slide">
            <img src="images/blue_sofa.jpg" />
            <div class="furniture-gallery-slide-icons">
              <a href="#" class="btn-on-slider"><i class="far fa-heart"></i></a>
              <div class="furniture-gallery-tooltip-heart">Heart</div>
              <a href="#" class="btn-on-slider"><i class="fas fa-exchange-alt"></i></a>
              <div class="furniture-gallery-tooltip-exchange">Exchange</div>
              <a href="#" class="btn-on-slider"> <i class="far fa-eye"></i> </a>
              <div class="furniture-gallery-tooltip-eye">Eye</div>
              <a href="#" class="btn-on-slider"
                ><i class="fas fa-shopping-basket"></i
              ></a>
              <div class="furniture-gallery-tooltip-basket">Add To Cart</div>
            </div>
            <div class="furniture-gallery-slide-pricebox">
              <div class="price-circle"><span>$120.00</span> <span>$160.00</span></div>
              <div class="furniture-namebox">
                <div class="content">
                  <h5>Aenean Ru Bristique</h5>
                  <div class="stars">
                    <a href="#" class="full"></a> <a href="#" class="full"></a>
                    <a href="#"></a> <a href="#"></a> <a href="#"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="furniture-gallery-slide">
            <img src="images/bears.jpg" />
            <div class="furniture-gallery-slide-icons">
              <a href="#" class="btn-on-slider"><i class="far fa-heart"></i></a>
              <div class="furniture-gallery-tooltip-heart">Heart</div>
              <a href="#" class="btn-on-slider"><i class="fas fa-exchange-alt"></i></a>
              <div class="furniture-gallery-tooltip-exchange">Exchange</div>
              <a href="#" class="btn-on-slider"> <i class="far fa-eye"></i> </a>
              <div class="furniture-gallery-tooltip-eye">Eye</div>
              <a href="#" class="btn-on-slider"
                ><i class="fas fa-shopping-basket"></i
              ></a>
              <div class="furniture-gallery-tooltip-basket">Add To Cart</div>
            </div>
            <div class="furniture-gallery-slide-pricebox">
              <div class="price-circle"><span>$120.00</span> <span>$160.00</span></div>
              <div class="furniture-namebox">
                <div class="content">
                  <h5>Aenean Ru Bristique</h5>
                  <div class="stars">
                    <a href="#" class="full"></a> <a href="#" class="full"></a>
                    <a href="#"></a> <a href="#"></a> <a href="#"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="furniture-gallery-controls">
          <div class="control-arrow control-arrow-prev">
            <a><i class="fas fa-chevron-left"></i></a>
          </div>
          <ul class="controls-thumbnails" id="featured-control-thumbnails">
            <li class="control-image"><img src="images/blue_sofa.jpg" /></li>
            <li class="control-image"><img src="images/bears.jpg" /></li>
            <li class="control-image"><img src="images/beige_sofa.jpg" /></li>
            <li class="control-image"><img src="images/duck_sofa.jpg" /></li>
            <li class="control-image"><img src="images/grey_sofa.jpg" /></li>
            <li class="control-image"><img src="images/red_sofa.jpg" /></li>
            <li class="control-image"><img src="images/blue_sofa.jpg" /></li>
            <li class="control-image"><img src="images/bears.jpg" /></li>
          </ul>
          <div class="control-arrow control-arrow-next">
            <a><i class="fa fa-chevron-right"></i></a>
          </div>
        </div>
      </div>
      <div class="column-foto col-12 col-md-6">
        <div class="furniture-gallery-image">
          <img src="images/beige_room.jpg" alt="Book with cup of coffe" />
          <p><span>from</span> $50.80</p>
          <p>Bedroom Bed</p>
          <button class="btn-on-photo">shop now</button>
        </div>
      </div>
    </div>
  </div>
</div>
