<div class="section--feedback">
  <div class="container">
    <div class="panel-bar">
      <div class="row no-gutters align-items-end">
        <div class="col-auto heading"><h3>client feedback</h3></div>
        <div class="col"></div>
        <div class="col-auto dots">
          <ul>
            <li><a href="#" class="active"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-10">
        <i class="fas fa-quote-right"></i>
        <ul class="quotes">
          <li>
            <figure>
              <blockquote cite="#">
                Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
                accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.
              </blockquote>
              <figcaption>
                <img src="//via.placeholder.com/60x50" alt="" />
                <cite class="quote--author">
                  <h5>John Smith</h5>
                  <h6>Furniture client</h6>
                </cite>
              </figcaption>
            </figure>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
