.section--furniture-gallery {
  box-sizing: border-box;
  margin-bottom: 2rem;
}

.product-category-names {
  background-color: $white;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  height: 40px;
  line-height: 40px;
  margin-right: 0;
  margin-left: 0;
  border: 1px solid $tab-hover-color;
  cursor: pointer;
  .product-category-name {
    position: relative;
    &:not(:last-child) {
      border-right: 1px solid $tab-hover-color;
    }
    @extend %colortransition;

    &:hover {
      background-color: $tab-hover-color;
      color: $primary;
      top: -1px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0px;
      left: -1px;
      width: calc(100% + 2px);
      border-top: 4px solid transparent;
      @extend %colortransition;
    }

    &:hover {
      &::before {
        border-top: 4px solid $primary;
      }
    }
  }
  .product-category-name.active {
    background-color: $tab-hover-color;
    color: $primary;
    top: -1px;
    &::before {
      content: "";
      position: absolute;
      top: 0px;
      left: -1px;
      width: calc(100% + 2px);
      border-top: 4px solid $primary;
    }
  }
}

.furniture-gallery-slider {
  height: 410px;
  border: 1px solid $tab-hover-color;
  border: none;
  position: relative;
  overflow: hidden;
  transition: opacity 1s linear;

  img {
    max-height: 410px;
    cursor: pointer;
  }

  .furniture-gallery-slide-icons {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 28%;

    a {
      margin: 4px 8px;
      @extend %colortransition;

      &:hover + .furniture-gallery-tooltip {
        display: block;
      }
    }

    .furniture-gallery-tooltip {
      display: none;
      position: absolute;
      color: $white;
      background-color: $black;
      width: 90px;
      height: 26px;
      line-height: 26px;
      text-align: center;
      font-size: 12px;
      left: 55px;

      &::before {
        position: absolute;
        content: "";
        left: -5px;
        top: 8px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 5px 5px 0;
        border-color: transparent $black transparent transparent;
      }
    }
    .furniture-gallery-tooltip-heart {
      @extend .furniture-gallery-tooltip;
      top: 5%;
    }
    .furniture-gallery-tooltip-exchange {
      @extend .furniture-gallery-tooltip;
      top: 30%;
    }
    .furniture-gallery-tooltip-eye {
      @extend .furniture-gallery-tooltip;
      top: 55%;
    }
    .furniture-gallery-tooltip-basket {
      @extend .furniture-gallery-tooltip;
      top: 80%;
    }
  }

  .furniture-gallery-slide-pricebox {
    position: absolute;
    width: 250px;
    height: 200px;
    margin-left: 290px;
    top: 43%;

    .price-circle {
      position: relative;
      height: 100px;
      width: 100px;
      border-radius: 50%;
      margin: 0 auto;
      background-color: $dark-grey;
      opacity: 0.97;

      span {
        display: block;
        color: $white;
        text-align: center;
        line-height: 22px;
        letter-spacing: 1px;

        &:first-of-type {
          font-size: 18px;
          font-weight: 500;
          padding-top: 34px;
        }

        &:last-of-type {
          font-size: 14px;
          font-weight: 300;
          text-decoration: line-through;
        }
      }
    }

    .furniture-namebox {
      height: 110px;
      width: 250px;
      margin-top: -10px;
      background-color: $white;

      .content {
        text-align: center;
        padding: 25px;

        h5 {
          color: $black;
          font-size: 16px;
          font-weight: 700;
          line-height: 24px;
        }

        .stars {
          a {
            text-decoration: none;
            color: rgb(42, 42, 42);
            @extend .far;
            @extend .fa-star;

            &.full {
              color: $primary;
              @extend .fas;
            }
            &:hover ~ a {
              color: rgb(42, 42, 42);
              @extend .far;
              @extend .fa-star;
            }
          }
          &:hover > a {
            color: $primary;
            @extend .fas;
          }
        }
      }
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 90px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 30px 30px 0 0;
      border-color: $black transparent transparent transparent;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 30px 30px;
      border-color: transparent transparent $black transparent;
    }
  }
}

.furniture-gallery-slider.hide {
  display: none;
}

.furniture-gallery-slider.visuallyhide {
  opacity: 0;
}

.furniture-gallery-controls {
  position: relative;
  height: 86px;
  border: 1px solid $tab-hover-color;
  transition: opacity 1s linear;

  .control-arrow {
    position: absolute;
    background: $black;
    height: 70px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
      font-size: 10px;
      color: $white;
      @extend %colortransition;

      &:hover {
        color: $primary;
      }
    }
  }
  .control-arrow.control-arrow-prev {
    left: 5px;
    top: 8px;
  }
  .control-arrow.control-arrow-next {
    right: 5px;
    top: 8px;
  }

  .controls-thumbnails {
    position: absolute;
    left: 39px;
    display: inline-block;
    width: 460px;
    max-width: 460px;
    height: 70px;
    padding: 0;
    margin-top: 8px;
    margin-bottom: 8px;
    overflow: hidden;
    list-style: none;

    .control-image {
      margin-left: 3px;
      display: inline-block;
      overflow: hidden;
      img {
        height: 70px;
        width: 70px;
      }
    }

    .control-image.overlay {
      background-color: white;
      img {
        opacity: 0.5;
      }
    }
    .control-image.hide {
      display: none;
    }
  }
}

.furniture-gallery-controls.hide {
  display: none;
}

.furniture-gallery-controls.visuallyhide {
  opacity: 0;
}

.column-foto {
  .furniture-gallery-image {
    overflow: hidden;
    position: relative;
    margin-right: 0;
    margin-left: 0;
    border: 1px solid $tab-hover-color;
    background: $tab-hover-color;
    height: 607.26px;

    img {
      max-width: 100%;
      max-height: auto;
    }
  }

  p {
    position: absolute;
    &:first-of-type {
      top: 60px;
      left: 60px;
      color: $on-photo-btn-bg-color;
      font-size: 42px;
      font-weight: 600;
      margin: 0px;

      span {
        color: $black;
        text-transform: uppercase;
        font-size: 16px;
      }
    }

    &:last-of-type {
      top: 120px;
      left: 60px;
      color: $primary;
      font-size: 42px;
      font-weight: 600;
      text-transform: capitalize;
    }
  }
  button {
    position: absolute;
    top: 210px;
    left: 60px;
  }
}
