header {
  .top-bar {
    background-color: $header-topbar-bg;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        line-height: 55px;

        a {
          color: #ffffff;
          font-size: 13px;
          @extend %colortransition;

          &:hover {
            color: $primary;
            text-decoration: none;
          }
        }
      }
    }

    .text-left ul li {
      margin-right: 1.5rem;
      @include media-breakpoint-down(sm) {
        margin-right: 0.3rem;
        margin-left: 0.3rem;
      }

      i {
        margin-left: 5px;
      }
    }

    .text-right ul li {
      margin-left: 1.5rem;
      @include media-breakpoint-down(sm) {
        margin-right: 0.3rem;
        margin-left: 0.3rem;
      }
      i {
        margin-right: 5px;
      }
    }
  }

  .company-claim {
    background-color: $header-bg;

    .container > .row {
      height: 145px;
      @include media-breakpoint-down(sm) {
        height: 125px;
      }
    }

    .container {
      @include media-breakpoint-down(sm) {
        align-items: flex-start;
      }
    }

    .phone-number {
      p {
        margin: 0;
        font-size: 17px;
        line-height: 42px;
        color: rgb(216, 216, 216);
        font-weight: 500;

        i {
          font-size: 32px;
          color: $primary;
          vertical-align: middle;
          margin-top: -3px;
          margin-right: 0.8rem;
        }
      }
      @include media-breakpoint-down(sm) {
        order: 2;
        p {
          min-width: 290px;
          text-align: center;
          font-size: 14px;
        }
        i {
          font-size: 28px;
        }
      }
    }

    .cart {
      @include media-breakpoint-down(sm) {
        order: 1;
        align-self: flex-start;
        margin-top: 8px;
        min-width: 160px;
        padding-right: 40px;
      }
      .cart-box {
        display: inline-block;
        position: relative;
        color: #ffffff;

        .cart-icon {
          background-color: $primary;
          width: 55px;
          height: 50px;
          border-radius: 3px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 20px;
          @extend %colortransition;

          i {
            margin-right: 5px;
          }
        }

        .cart-counter {
          width: 100%;
          height: 27px;
          border-radius: 14px;
          background-color: $header-bg;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          padding: 0 10px;
          font-size: 14px;
          color: rgb(224, 227, 237);
          position: absolute;
          top: 50%;
          right: 0;
          transform: translate(75%, -50%);
        }

        &:hover {
          .cart-icon {
            background-color: lighten($primary, 10%);
          }
        }
      }
    }
    .logo {
      padding-left: 40px;
      align-self: flex-start;
      justify-content: flex-start;
      margin-top: 8px;
      min-width: 160px;
      img {
        height: 50px;
      }
    }
  }

  .menu-bar {
    box-shadow: 2px 3.464px 6px rgba(1, 2, 2, 0.2);
    background-color: #ffffff;

    .container > .row {
      height: 84px;
    }

    .menu {
      display: flex;
      align-self: stretch;

      ul {
        margin: 0;
        padding: 0;
        display: flex;

        li {
          list-style: none;
          display: flex;
          align-items: stretch;

          a {
            color: $text-color;
            text-transform: uppercase;
            font-size: 12px;
            padding: 1rem;
            text-decoration: none;
            display: flex;
            align-items: center;
            border-top: 4px solid #ffffff;
            font-weight: 500;
            letter-spacing: 1px;
            @extend %colortransition;

            &:hover,
            &.active {
              background-color: $primary;
              color: #ffffff;
              border-color: $primary;
            }

            &.active {
              border-color: $text-color;
            }
          }
        }
      }
    }

    .search-form {
      border: 1px solid $form-border-color;
      display: inline-flex;
      height: 45px;
      color: $text-color;

      .category {
        border-right: 1px solid $form-border-color;
        display: flex;
        align-items: center;
        position: relative;

        i:first-child {
          color: $primary;
          position: absolute;
          left: 10px;
          z-index: 0;
        }

        i:last-child {
          position: absolute;
          right: 10px;
          z-index: 0;
        }

        select {
          -webkit-appearance: none;
          border: 0;
          background-color: transparent;
          outline: none;
          padding: 5px 30px 5px 35px;
          font-size: 14px;
          position: relative;
          z-index: 1;
        }
      }

      .search-field {
        display: flex;
        align-items: center;
        position: relative;

        input {
          border: 0;
          padding-left: 10px;
          font-size: 14px;
          outline: none;

          &::placeholder {
            color: $text-color;
          }
        }

        button {
          border: 0;
          background-color: transparent;
          outline: none;
        }
      }
    }
  }
}
@media (max-width: map-get($grid-breakpoints, "xl")) {
  header .menu-bar .container > .row {
    height: auto;
  }
}
@media (min-width: map-get($grid-breakpoints, "md")) and (max-width: map-get($grid-breakpoints, "xl")) {
  header .menu-bar .container > .row {
    .col {
      order: 2;
      display: flex;
      justify-content: center;
    }

    .menu {
      flex: 1 0 auto;

      ul {
        width: 100%;

        li {
          flex-grow: 1;

          a {
            width: 100%;
            justify-content: center;
          }
        }
      }
    }
  }
}
@media (max-width: map-get($grid-breakpoints, "md")) {
  header .menu-bar .search-form .category {
    display: none;
  }
}
