.post-box {
  margin-bottom: 2rem;

  .cover {
    padding: 70% 25px 0 25px;
    background: {
      color: #f4f5f7;
      size: cover;
      position: center;
    }
    transition: opacity 0.1s ease-in;
    &:hover {
      opacity: 0.7;
      cursor: pointer;
    }

    .details {
      padding: 15px 20px;
      display: flex;
      background-color: #ffffff;
      font-size: 14px;

      & > * {
        flex: 1 1 auto;
      }

      .date {
        text-align: left;
      }

      .comments {
        text-align: right;
      }
    }
  }

  .cover_1 {
    // background-image: url("https://cdn.pixabay.com/photo/2015/03/26/09/43/living-room-690174_960_720.jpg");
  }

  .cover_2 {
    background-image: url("https://cdn.pixabay.com/photo/2017/01/07/17/48/interior-1961070_960_720.jpg");
  }

  .cover_3 {
    background-image: url("https://cdn.pixabay.com/photo/2014/12/06/12/29/chair-558951_960_720.jpg");
  }

  .post-info {
    padding: 25px;

    h5 {
      color: $primary;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1px;
    }

    p {
      font-size: 14px;
      line-height: 24px;
      color: rgb(103, 103, 103);
      text-align: justify;
    }

    .more {
      text-align: center;
      padding-top: 30px;
    }
  }
}
